*{
    margin: 0;
    padding: 0;  
}

.titulo{
    text-align: center;
    width: auto;
    padding: 30PX;
    background: #5A3954;
    color: #ffffff;
}

.main{
    background-color: #033442 ;
    padding: 60px;
    text-align: center;
}

section{
    width: 49%;
    display: inline-block;
}

.acuerdo1 h2{
    color: #ffffff;
    margin-bottom: 15px;
}

.acuerdo1 p{
    background-color: #048C8A;
    padding: 15px;
    border-radius: 20px;
    width: 93%;
}

.acuerdo2 h2{
    margin-bottom: 15px;
    color: #ffffff;
}

.acuerdo2 p{
    background-color: #048C8A;
    padding: 15px;
    border-radius: 20px;
    width: 96%;
    margin-left: 15px;
       
}
.acuerdo3 h2{
    padding: 10px;
    color: #ffffff;
    margin-top: 100px;  
}

.acuerdo3 p{
    background-color: #048C8A;
    padding: 15px;
    border-radius: 20px;
    width: 93%;  
}

.acuerdo4 h2{
    padding: 10px;
    color: #ffffff;

    
}

.acuerdo4 p{
    background-color: #048C8A;
    padding: 15px;
    border-radius: 20px;
    width: 96%;
    margin-left: 15px;
}  

